<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar sticky-top navbar-expand-md navbar-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" routerLinkActive="router-link-active">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/favourite']" routerLinkActive="router-link-active">FAVOURITE</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
